@font-face {
  font-family: 'monument';
  src: url('./fonts/MonumentExtended-Ultrabold.otf');
}

/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: #0e0e0e;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}

body{
  background-image: radial-gradient(rgb(34, 34, 34), black);
  background-size: cover;
  font-family: 'monument';
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



